{% extends "base_html/page_base.html"%}
{% block page %}

<article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>This simple website serves as a way for me to keep track of the small projects I work on in my free time. This site is a project in itself - it is written "from scratch" with help from bootstrap to make it look relatively nice. In Summer of 2020 I created this website as the successor to my 2019 Node-Express-Swig website which acted as a portfolio while I was in school.  </p>
          
          <p>This new-and-improved version uses a Flask-Werkzeug-Jinja stack, since Python is much more forgiving and familliar to me than javascript. My javascript portfolio was hosted on an EC2 instance so I could get some experience with AWS. However, I've been meaning to separate myself more from "Big-tech" since I have the means to learn how. When Amazon slowly started to raise their monthly hosting price I figured now was as good a time as ever!</p>

          <p>This iteration of joemulhern.net is instead hosted on a smaller VPS provider named Vultr. I plan on setting up an email server and a searx instance with them as well, thanks to a little (a lot of) inspiration from <a href='https://lukesmith.xyz/index'> Luke Smith.</a> Anyway, here are some things about me: </p>

          <h2 class="section-heading">I Play Music</h2>
          
          <p>I play <a href="https://www.youtube.com/watch?v=65JlINSPwy4">guitar</a> and banjo sometimes. I'll occasionally upload music-related videos to youtube if I learn a cool riff or something, as recording helps me perfect whatever I'm playing. At the time of writing this, most of my guitar time is spent practicing the first few minutes to  <a href='https://www.youtube.com/watch?v=xnKhsTXoKCI'> Metallica's Master of Puppets</a> so I can get my down-picking up to speed (the neighbors love it). However, most of my time is spent tinkering with different hardware and software projects. </p>
          
          <h2 class="section-heading">I Play with Electronics</h2>

          <p>I spend most of my free time working on different projects. My <a href="https://www.youtube.com/channel/UCA0lv6vVP7d27549PJ1dMgQ/videos?view_as=subscriber">youtube channel</a> functions mostly as a catalog of different electronics concepts and projects I've learned throughout the years. I've learned so much from different online forums, so I always publish everything I've learned over the course of a project including code, schematics, intuition, etc. </p>
          
          <h2 class="section-heading">Education</h2>

          <p>I also have Bachelor's and Master's degrees in Electrical and Computer Engineering from Northeastern University. However, I think actively learning through projects is a better testament to one's understanding of a field. Attending a private university is an amazing way to meet people and expand your social network, however in my experience a degree is not indicative of much real academic mastery. Even with a Master's Degree in Electrical Engineering on paper, it wasn't until I bought an oscilloscope and formed a home lab when I <em>really</em> started to understand practical electronics. I'm sure there are many people who can relate!</p>

          <h2 class="section-heading">Learn More</h2>

          <p>Explore this site to learn more about what I'm up to. Feel free to contact me if you have any questions! </p>

        </div>
      </div>
    </div>
  </article>

  <hr>

{% endblock %}
