{% extends "base_html/page_base.html"%}
{% block page %}





<article>

    <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <!-- <h1>Enter Information</h1> -->

                <form method=post enctype=multipart/form-data>
                    <h3>Enter Password to enable posting</h3>
                    <h6>PDF files will not be uploaded</h6>
                    <input type="text" name=password value="PWD (req)">
                    <br>
                    <input type="text" name=title value="TITLE (req)">
                    <input type="text" name=description value="DESCRIPTION (req)">
                    <input type="date" name=userDate>   
                    <input type=file name=file1>
                    <input type=file name=file2>
                    <input type=file name=file3>
                    <input type="url" name=yt value="YOUTUBE URL">
                    <input type=submit value=Upload>
                </form>
            </div>
        </div>
    </div>
</article>

{% endblock %}
